<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.CardMapper">
    <select id="findCardById" parameterType="Integer" resultType="Card">
      select card_id,code from card where card_id = #{id}
    </select>

</mapper>