<?xmlversion="1.0"encoding="utf-8"?><!DOCTYPEconfigurationPUBLIC"-//mybatis.org//DTDConfig3.0//EN""http://mybatis.org/dtd/mybatis-3-config.dtd"><configuration><!--<typeAliases>--><!--<packagename="com.ssm.bean"/>--><!--</typeAliases>-->
<!--配置环境默认的环境id是mysql--><environmentsdefault="mysql"><environmentid="mysql"><!--使用JDBC的事物管理--><transactionManagertype="JDBC"/><!--数据库连接池--><dataSourcetype="POOLED"><propertyname="driver"value="com.mysql.cj.jdbc.Driver"/><!--表示服务器时区设置为协调世界时(UTC--><propertyname="url"value="jdbc:mysql://localhost:3306/db_mybatis?serverTimezone=UTC"/><propertyname="username"value="root"/><propertyname="password"value="root"/></dataSource></environment></environments><!--配置mapper的位置--><mappers><mapperresource="com/ssm/mapper/UserMapper.xml"/></mappers></configuration>